services:
  postgres:
    image: postgres:16-alpine
    container_name: catalog_postgres
    environment:
      POSTGRES_DB: catalogdb
      POSTGRES_USER: catalog
      POSTGRES_PASSWORD: catalog123
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U catalog -d catalogdb"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  postgres_data:
